{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "react-app",
        "plugin:prettier/recommended",
        "prettier/@typescript-eslint",
        "prettier/babel",
        "prettier/react"
    ],
    "plugins": [
        "@typescript-eslint",
        "import",
        "jsx-a11y",
        "prettier",
        "react",
        "react-hooks"
    ],
    "rules": {
        "@typescript-eslint/no-angle-bracket-type-assertion": "off",
        "no-use-before-define": "off",
        "prettier/prettier": "off"
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "project": "./tsconfig.json"
    },
    "settings": {
        "react": {
            "version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
        }
    }
}